.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 81px);
  min-width: calc(100vw - 50%);
}

.botaoAcid{
  width: 140px;
  padding: 5px 0 5px 0;
  background: #ffffff;
  color: #18c1d8;
  font-size: 17px;
  font-weight: bold;
  border: solid 2px #18c1d8;
  border-radius: 10px;
  transition: 0.5s all;
  cursor: pointer;
}

.botaoAcid:hover{
  background-color: #cccccc;
  color: #000000;
  border: solid 2px #000000;
}


.botao {
  width: 140px;
  padding: 5px 0 5px 0;
  background: #ffffff;
  color: #18c1d8;
  font-size: 17px;
  font-weight: bold;
  border: solid 2px;
  border-radius: 10px;
  transition: 0.5s all;
  cursor: pointer;
}

.botao:hover{
  background: #cccccc;
  color: #000000;
  border: solid 2px #000000;
}

.botaoDesktop {
  width: 50px;
  padding: 5px 0 5px 0;
  background: #ffffff;
  color: #18c1d8;
  font-size: 17px;
  border: solid 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all;
}

.botaoMobile {
  width: 50px;
  padding: 5px 0 5px 0;
  background: #ffffff;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  border: solid 2px;
  color: #cccccc;
  transition: 0.5s all;
}

.darkmode {
  background-color: #18c1d8;
  color: #ffffff;
  border: solid 2px #18c1d8;
}

.darkmode:hover{
  background: #cccccc;
  color: #000000;
  border: solid 2px #000000;
}


.email {
  display: flex;
  height: calc(100% - 86px);
  justify-content: center;
}

.tools {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 86px;
  justify-content: center;
  padding: 8px 0;
}

.toolsButton {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tools button:first-child, .toolsButton button {
  margin: 0 .5rem 0 0;
}

.tools span {
  font-size: clamp(9px, 1vw, 16px);
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.code {
  background-color: var(--code);
  border: 1px solid var(--border-code);
  display: block;
  height: 100%;
  margin: 0 1rem;
  white-space: pre-wrap;
  word-break: break-all;
}

.code code {
  word-break: break-all;
}