.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 81px);
  min-height: calc(100vh - 81px);
  left: 280px;
  position: absolute;
  width: calc(100% - 280px);
}

.email {
  display: flex;
  justify-content: center;
  height: 89.3%;
}

.email div {
  height: 100%;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.toolsButton {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tools button:first-child, .toolsButton button {
  margin: 0 .5rem 0 0;
}

.tools span {
  font-size: 1vw;
}

.code {
  display: flex;
  margin: 0 1rem;
}

.code pre {
  background-color: var(--code);
  border: 1px solid var(--border-code);
  white-space: pre-wrap;
  word-break: break-all;
}

.code code {
  word-break: break-all;
}