.sidebar {
  background-color: var(--blue);
  bottom: 0;
  display: flex;
  height: calc(100vh - 81px);
  max-width: calc(100vw - 50%);
  min-width: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 81px;
}

.divider {
  background-color: transparent;
  cursor: col-resize;
  height: calc(100vh - 81px);
  width: 5px;
}

.divider:hover {
  background: #c1c3c5b4;
}

.sidebar div:first-child{
  display: flex;
  flex-direction: column;
  margin: 1rem .5rem 0 0;
  width: calc(100% - .5rem);
}

.mainList {
  margin: 0;
  padding: 0;
}

.list {
  padding-left: 0.5rem;
}

.sidebar ul li {
  list-style: none;
  margin-bottom: 0.25rem!important;
}

.btn {
  align-items: center;
  background-color: transparent;
  border-radius: 0.25rem !important;
  border: 0;
  color: var(--white);
  display: inline-flex;
  font-weight: 600;
  padding: 0.25rem 0 0.25rem 0.5rem;
  text-align: left;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  background-color: #18c1d8;
}

.btn::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  line-height: 0;
  transform-origin: .5rem 50%;
  transition: transform .35s ease;
  width: 1.25rem;
}

.btn[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.file {
  background-color: transparent;
  border-radius: 0.25rem !important;
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-size: .875em;
  margin: .125rem 0 0 0.6rem;
  outline: none;
  overflow: hidden;
  padding: .1875rem .5rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.file:hover,
.file:focus {
  background-color: var(--btn-bg);
  color: var(--white);
  border: 1px solid #18c1d8;
}